[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "corteza"]
	path = corteza
	url = https://github.com/cornball-ai/corteza
[submodule "llm.api"]
	path = llm.api
	url = https://github.com/cornball-ai/llm.api
[submodule "mx.api"]
	path = mx.api
	url = https://github.com/cornball-ai/mx.api
[submodule "rformat"]
	path = rformat
	url = https://github.com/cornball-ai/rformat
[submodule "saber"]
	path = saber
	url = https://github.com/cornball-ai/saber
[submodule "stt.api"]
	path = stt.api
	url = https://github.com/cornball-ai/stt.api
[submodule "tinypkgr"]
	path = tinypkgr
	url = https://github.com/cornball-ai/tinypkgr
[submodule "tinyrox"]
	path = tinyrox
	url = https://github.com/cornball-ai/tinyrox
[submodule "whisper"]
	path = whisper
	url = https://github.com/cornball-ai/whisper
