[submodule ".registry"]
	path = .registry
	url = https://github.com/cornball-ai/cornball-ai.r-universe.dev
	branch = HEAD
[submodule "rgrpc"]
	path = rgrpc
	url = https://github.com/cornball-ai/rgrpc
